{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Omnis quo assumenda sequi eaque quidem beatae qui hic minus ex laudantium animi quibusdam tempore obcaecati rerum,
        alias ratione dolorum quia consequuntur.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Singup
            </a>
        </div>
    </section>
</main>
{% endblock %}